---
import ThemeIcon from "./ThemeIcon.astro";
---
<!-- 
<div class="nav-bar">
<div class="nav-links">
  <img class="Logo" src="/Logo.png" alt="Logo">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/tags/">Tags</a>
  <ThemeIcon />
  <a href="#" id="donate-styling">Reach out to us</a>
</div>
  </div>

  <style>

    .nav-links{
      text-align: end;
    }

    .Blog-title{
      font-family: Exo;
      text-align: center;
    }

    
    a img{
      margin-top: -8px;
      vertical-align: middle;
      width: 40px;
      height: 40px;
    }
    #donate-styling{
      background-color: #FFB800;
      color: white;
      border-radius: 10px;
      font-size: 12px;
      padding: 13px;
      font-weight: bold;
      margin-left: 20px;
      vertical-align: middle;
      margin-top: -10px;
    }    
    .Logo{
      vertical-align: middle;
      width: 90px;
    }
  </style> -->
      <nav>
      <img class="Logo" src="../Logo.png" alt="">
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/tags/">Tags</a></li>
          <li><ThemeIcon /></li>
          <li><a href="#" id="donate-styling">Reach out to us</a></li>
        </ul>
      </nav>
<style>
  * {
  margin: 0;
  padding: 0;
}

a {
  vertical-align: middle;
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Exo;
  background: #ffffff;
  height: 10vh;
}



.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #000000;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 50vw;
    height: 90vh;
    background: #e6e6e6;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
    margin: 26px;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

        #donate-styling {
          background-color: #FFB800;
          color: white;
          border-radius: 10px;
          font-size: 12px;
          padding: 13px;
          font-weight: bold;
          margin-left: 20px;
          vertical-align: middle;
          margin-top: -10px;
        }
            .Logo{
              vertical-align: middle;
      width: 90px;
    }
</style>

<script>
    class MobileNavbar {
    constructor(mobileMenu, navList, navLinks) {
      this.mobileMenu = document.querySelector(mobileMenu);
      this.navList = document.querySelector(navList);
      this.navLinks = document.querySelectorAll(navLinks);
      this.activeClass = "active";

      this.handleClick = this.handleClick.bind(this);
    }

    animateLinks() {
      this.navLinks.forEach((link, index) => {
        link.style.animation
          ? (link.style.animation = "")
          : (link.style.animation = `navLinkFade 0.5s ease forwards ${
              index / 7 + 0.3
            }s`);
      });
    }

    handleClick() {
      this.navList.classList.toggle(this.activeClass);
      this.mobileMenu.classList.toggle(this.activeClass);
      this.animateLinks();
    }

    addClickEvent() {
      this.mobileMenu.addEventListener("click", this.handleClick);
    }

    init() {
      if (this.mobileMenu) {
        this.addClickEvent();
      }
      return this;
    }
  }

  const mobileNavbar = new MobileNavbar(
    ".mobile-menu",
    ".nav-list",
    ".nav-list li"
  );
  mobileNavbar.init();
</script>